* {
    padding: 0;
    margin: 0;
}
/*第一屏*/
    .first {
        padding-top: 80px;
    }
    .first .logo {
        width: 251px;
        height: 186px;
        background: url("../images/logo.png") no-repeat;
        margin: 0 auto 80px;
    }
    .first .text {
        text-align: center;
        line-height: 1;
    }
    .text img {
        margin: 0 55px;
        opacity: 0;
    }
    .first .info {
        margin: 55px auto 0;
        height: 49px;
        width: 772px;
        background: url("../images/info_1.png") no-repeat;
    }
    .first.current img {
        transition: all 0.8s;
        opacity: 1;
        margin: 0 10px;
    }
/*第一屏结束*/

/*第二屏开始*/
    .second {
        padding: 30px 100px;
        overflow: hidden;
    }
    .second>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .second .shield {
        /*flex: 1;*/
        width: 410px;
        height: 498px;
    }
    .shield img {
        display: block;
        float: left;
    }
    .shield img:nth-child(1) {
        transform: translateX(334px) rotate(45deg);
    }
    .shield img:nth-child(2) {
        transform: translateY(200px) translateX(380px) rotate(-60deg);
    }
    .shield img:nth-child(3) {
        transform: translateX(-160px) rotate(263deg);
    }
    .shield img:nth-child(4) {
        transform: translateY(-23px) rotate(88deg);
    }
    .shield img:nth-child(5) {
        transform: translateX(-560px) rotate(-63deg);
    }
    .shield img:nth-child(6) {
        transform: translateY(412px) rotate(-39deg);
    }
    .shield img:nth-child(7) {
        transform: translateX(-79px) rotate(45deg);
    }
    .shield img:nth-child(8) {
        transform: translateY(-20px) rotate(-96deg);
    }
    .shield img:nth-child(9) {
        transform: translateX(500px) rotate(45deg);
    }
    .second .info {
        /*flex: 2;*/
        width: 635px;
        height: 309px;
        background: url("../images/info_2.png") no-repeat center ;
    }
    .second.current img {
        transition: all 1s;
        transform: none;
    }
/*第二屏结束*/


/*第三屏开始*/
    .third {
        padding: 30px 55px;
        overflow: hidden;
    }
    .third>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .third .info {
        width: 631px;
        height: 287px;
        background: url("../images/info_3.png") no-repeat center ;
    }
    .third .circle {
        width: 453px;
        height: 449px;
        background: url("../images/circle.png") no-repeat center ;
        animation: gun 7s linear infinite;
    }
    .third .rocket {
        width: 203px;
        height: 204px;
        background: url("../images/rocket.png") no-repeat center;
        transform: translateY(600px) translateX(-600px);
    }
    .third.current .rocket {
        transition: all 1s;
        transform: translateX(586px) translateY(-25px);
    }
    @keyframes gun {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
/*第三屏结束*/

/*第四屏开始*/
    .four {
        padding: 30px 80px;

    }
    .four>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }
    .search {
        width: 529px;
        height: 320px;
        position: relative;
        transform: translateX(-100%);
    }
    .input {
        width: 529px;
        height: 66px;
        background: url("../images/search.png") no-repeat center;
        /*transform: translateX(-700px);*/
    }
    .key {
        width: 0;
        height: 22px;
        position: absolute;
        left: 20px;
        top: 24px;
        background: url("../images/key.png") no-repeat left center;
    }
    .wrap {
        width: 529px;
        /*height: 372px;*/
        background: url("../images/result.png") no-repeat center;
        transform: translateY(-15px);
        height: 0;
    }
    .info {
        width: 612px;
        height: 299px;
        background: url("../images/info_4.png") no-repeat center;
    }
    .four.current .search {
        transition: all 1s;
        transform: translateX(0px);
    }
    .four.current .key {
        transition: all 2s steps(5) 1s;
        width: 99px;
    }
    .four.current .wrap {
        transition: all 1s 3s;
        transform: translateY(-15px);
        height: 372px;
    }
/*第四屏结束*/

/*第五屏开始*/
    .five {
        padding: 30px 0 0 0 ;
    }
    .five>div {
        display: flex;
        flex-direction: column;
    }
    .five .info {
        margin: 0 auto 30px;
        width: 1077px;
        height: 135px;
        background: url("../images/info_5.png") no-repeat;
    }
    .five .browser {
        width: 1004px;
        flex: 1;
        margin: 0 auto;
        position: relative;
        background:  rgba(255, 255, 255, 0.15);
        /*border-bottom: 1px solid #fff;*/
    }
    .browser .topLine {
        height: 1px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 0;
        transform: translateX(100%);
        opacity: 0;
    }
    .browser .leftLine {
        position: absolute;
        left: 0;
        width: 1px;
        height: 100%;
        border-left: 1px solid rgba(255,255,255,0.5);
        transform: translateY(-100%);
        opacity: 0;
    }
    .browser .rightLine {
        transform: translateY(100%);
        position: absolute;
        right: 0;
        width: 1px;
        height: 100%;
        border-left: 1px solid rgba(255,255,255,0.5);
        opacity: 0;
    }
    .bottomLine {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .browser .toolBar {
        width: 1044px;
        height: 79px;
        background: url("../images/toolbar.png") no-repeat;
        opacity: 0;
    }
    .box {
        /*width: 918px;*/
        height: 24px;

        /*border: 1px solid rgba(255, 255, 255, 0.5);*/

        position: absolute;
        left: 70px;
        top: 32px;
        width: 0;
        overflow: hidden;
    }
    .box span {
        width: 100%;
        height: 100%;
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        box-sizing: border-box;
    }
    .line {
        position: absolute;
        left: 0;
        bottom: 40px;
        width: 100%;
        height: 1px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    .five .extra {
        position: absolute;
        right: 0;
        bottom: 10px;
        width: 394px;
        height: 29px;
        background: url("../images/extra.png") no-repeat;
        opacity: 0;
    }
    .five.current .leftLine,
    .five.current .rightLine,
    .five.current .topLine {
        transform: none;
        opacity: 1;
        transition: all 1.5s;
    }
    .five.current .box {
        transition: all 1.5s 1.7s;
        width: 920px;
    }
    .five.current .toolBar,
    .five.current .extra {
        transition: all 1s 3.3s;
        opacity: 1;
    }
/*第五屏结束*/